/* You can add global styles to this file, and also import other style files */

.custom-even {
    background-color: blueviolet;
    color: white;
}
.custom-odd {
    background-color: rgb(255, 66, 66);
    color: white;
}