<div>
  <h1>Welcome to {{ hotelName }}</h1>
  <div [hidden]="hideRooms">
    <div>
      Number of rooms:
      <span
        [ngStyle]="{ color: rooms.availableRooms > 0 ? 'green' : 'red' }"
        [innerText]="numberOfRooms"
      ></span>
    </div>
  </div>
  <button (click)="toggleRooms()">Show Room</button>

  <div>
    {{ rooms.availableRooms ?? "There are no rooms to display" }}
  </div>
  <div *ngIf="rooms.availableRooms > 0">List of Rooms:</div>

  <div *ngIf="selectedRoom">
  {{selectedRoom | json }}
  </div>

  <app-rooms-list [rooms]="roomList" (selectedRoom)="selectRoom($event)" [heading]="heading"></app-rooms-list>

  <div >
    <button class="btn btn-primary" (click)="addRoom()">Add room</button>
  </div>
</div>
